@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* cores do projeto */

:root{
    --blue: #171D25;
    --green: #65C244;
    --red: #CA3535;
    --blue-2: #1B2939;
    --white: #D9D9D9;
    --orange: #EB8F09;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'KoHo';
    font-weight: 500;
    background-color: var(--blue);
    color: var(--white);
    overflow-x: hidden;
}

/* the nav-bar */
.nav-bar{
    position: fixed 0;
    display: flex;
    width: 100vw;
    height: 4em;
    background-color: var(--blue);
}

.menu-elements{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.menu-elements ul{
    margin: 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu-elements li{
    align-items: center;
    display: flex;
    text-decoration: none;
    height: 4em;
    cursor: pointer;
}

.page, .section{
    transition: 0.2s ease-in-out;
}

.menu-elements li:hover .page{
    color: var(--red);
}
.menu-elements li:hover .section{
    color: var(--green);
}

 /* section home  */
#home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 93vh;
    justify-content: center;
    align-items: center;
}

.name-dev h4{
    margin: 0;
}

.name-dev h1{
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
}

.social-media{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

/* deixar icones pequenos */
#icons{
    width: 4em;
}

.imagens-stacks {
    overflow: hidden;
    opacity: 50%;
}

.stacks-image {
    position: absolute;
    top: -100px; 
    left: 0; 
    animation: cair 5s ease-in-out infinite; 
}

@keyframes cair {
    0% {
        transform: translateY(-100px); 
    }
    100% {
        transform: translateY(200vh); 
    }
}

/* The switch - the box around the slider */
.switchLightDarkMode{
    position: relative;
    float: right;
    top: 15%;
    right: 2%;
}

.switch 
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}
    
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1C557D;
    transition: .4s;
}
    
.slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
    
    /* Style for when the checkbox is checked */
input:checked + .slider 
{
    background-color: #1B2939;
}
    
input:checked + .slider:before {
    transform: translateX(26px);
}
    
    /* Rounded sliders */
.slider.round 
{
    border-radius: 34px;
}
    
.slider.round:before
{
    border-radius: 50%;
}

/* style for about */

#about{
    width: 100vw;
    height: 98vh;
    display: flex;
}

.description{
    display: flex;
    position: relative;
    height: 100%;
    width: 60vw;
    left: 10%;
    align-items: center;
}

.download-cv{
    display: flex;
    width: 60vw;
    float: right;
    justify-content: center;
    align-items: center;
}

#btn-download{
    background-color: #1C557D;
    cursor: pointer;
    border-radius: 20px;
    border: solid 1px;
    width: 180px;
    height: 50px;
    font-family: 'KoHo';
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-download:hover{
    background-color: #225d88;
    border: none;
}