@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* cores do projeto */

:root{
    --blue: #171D25;
    --green: #65C244;
    --red: #CA3535;
    --blue-2: #1B2939;
    --white: #D9D9D9;
    --orange: #EB8F09;
}

.body{
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    font-family: 'KoHo';
    font-weight: 500;
    background-color: var(--blue);
    color: var(--white);
    overflow-x: hidden;
}

/* the nav-bar */
.nav-bar{
    position: fixed;
    top: 0;
    display: flex;
    width: 100dvw;
    height: 4em;
    background-color: var(--blue);
    z-index: 1000;
}

.menu-elements{
    display: flex;
    width: 100dvw;
    justify-content: center;
}

.menu-elements ul{
    margin: 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu-elements li{
    align-items: center;
    display: flex;
    text-decoration: none;
    height: 4em;
    cursor: pointer;
}

.menu-elements a{
    display: flex;
    align-items: center;
    height: 4em;
    text-decoration: none;
    color: white;
}

.page, .section{
    transition: 0.2s ease-in-out;
}

.menu-elements li:hover .page{
    color: var(--red);
}
.menu-elements li:hover .section{
    color: var(--green);
}

 /* section home  */
#home{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.name-dev h4{
    margin: 0;
}

.name-dev h1{
    font-size: 5dvw;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
}

.social-media{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

#icons{
    width: 6dvw;
}

/* icones que caem na tela */
.imagens-stacks {
    overflow: hidden;
    opacity: 50%;
}

.stacks-image {
    position: absolute;
    top: -100px; 
    left: 0; 
    animation: cair 5s ease-in-out infinite; 
}

@keyframes cair {
    0% {
        transform: translateY(-100px); 
    }
    100% {
        transform: translateY(200dvh); 
    }
}

/* switch dark light mode */
.switchLightDarkMode{
    position: relative;
    float: right;
    top: 15%;
    right: 2%;
}

.switch 
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}
    
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1C557D;
    transition: .4s;
}
    
.slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
    
input:checked + .slider 
{
    background-color: #1B2939;
}
    
input:checked + .slider:before {
    transform: translateX(26px);
}
    
.slider.round 
{
    border-radius: 34px;
}
    
.slider.round:before
{
    border-radius: 50%;
}

/* seção about */

#about{
    width: 100dvw;
    height: 100dvh;
    display: flex;
}

.description{
    margin-left: 10%;
    display: flex;
    height: 100%;
    width: 60dvw;
    align-items: center;
}

.download-cv{
    display: flex;
    width: 60dvw;
    float: right;
    justify-content: center;
    align-items: center;
}

#btn-download{
    border-radius: 15px;
    background: none;
    color: #D9D9D9;
    padding: 10px 20px;
    border: solid 1px;
    width: 180px;
    height: 50px;
    font-family: 'KoHo';
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-download:hover{
    background-color: var(--green);
    color: #1B2939;
}

/* seção projetos */

#projetcs{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

.carousel{
    width: 100dvw;
    height: 50dvw;
}

.carousel-inner{
    display: flex;
    width: 100dvw;
    height: 100dvh;
    align-items: center;
    left: 10dvw;
    right: 10dvw;
}

.images-projeto{
    width: 35em;
    height: 20em;
}

.projects-item{
    display: flex;
}

.description-project{
    width: 35dvw;
    margin-left: 2dvw;
}

.used-img{
    height: 30px;
}

/* seção de contact */

#contact{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms{
    display: flex;
    flex-direction: column;
}

.forms h1{
    margin-left: 0.5em;
}

.inputs{
    border-radius: 20px;
    border: none;
    height: 2.5em;
    width: 35em;
    margin: 1em;
    padding: 12px 16px 14px;;
}

.text-area{
    height: 10em;
}

.send{
    margin-left: 1em;
}